# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# =========================
# Static Files
# =========================
staticfiles/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Testing & Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/
.tox/
.cache/

# =========================
# Mypy
# =========================
.mypy_cache/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.production
.env.development

# =========================
# Sentry
# =========================
.sentryclirc

# =========================
# Celery
# =========================
celerybeat-schedule

# =========================
# Misc
# =========================
*.swp
*.swo